* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #1c1c1c;
    color: #e0e0e0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

h1,
h2 {
    text-align: center;
    color: #00eeff;
    text-shadow: 0 0 10px #00eeff, 0 0 20px #00eeff;
    margin-bottom: 20px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    background-color: rgba(33, 33, 33, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(74, 34, 255, 0.3);
}

.menu li a {
    text-decoration: none;
    color: #b3e5fc;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;
}

.menu li a:hover {
    background-color: #00897b;
    color: #ffffff;
    text-shadow: 0 0 10px #cdfcff, 0 0 20px #cdfcff;
}

.menu li a.ativo {
    background-color: #00eeff;
    color: #000;
    text-shadow: none;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(15, 15, 45, 0.9);
    border-radius: 10px;
    border-left: 6px solid #00eeff;
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.1);
}

#galeria {
    text-align: center;
}

#galeria img {
    margin: 10px;
    border-radius: 12px;
    border: 3px solid #00897b;
    transition: transform 0.3s, box-shadow 0.3s;
}

#galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 172, 193, 0.6);
}

a {
    color: #4dd0e1;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #80d8ff, 0 0 10px #00bcd4;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(33, 33, 33, 0.8);
    border-radius: 10px;
    font-weight: bold;
    color: #b2ebf2;
    box-shadow: 0 0 10px #00bcd4;
}

footer a {
    color: #00897b;
}

footer a:hover {
    text-decoration: underline;
    color: #ffffff;
    text-shadow: 0 0 10px #80deea, 0 0 20px #00acc1;
}